{{>header}}
<div class="row content">
    <h1 class="title">{{title}}</h1>

    <form id="form">
        <div class="form-group">
            <label for="address">Enter country</label>
            <input type="text" class="form-control" id="address" placeholder="Enter country">
        </div>
        <button type="submit" class="btn" id="btn">search</button>
    </form>

    <p id="forecast"></p>
    <p id="error"></p>
</div>

{{>footer}}